.product-swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 568px) {
    .product-swiper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .product-swiper {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}