.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ad031b;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 30px 10px 10px;
}

.close-icon {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.close-icon:hover {
    scale: 1.1;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px 0;
    transition: 0.3s;
}

.menu-link:hover {
    scale: 1.1;
}
